* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color */
    --blue-900: #0B0D17;
    --blue-300: #D0D6F9;
    --white: #fff;
    --almost_white: rgba(151, 151, 151, .25);
    /* typo */
    --text-1: normal 9rem/171% "Bellefair", sans-serif;
    --text-2: normal 6.25rem/114.5% "Bellefair", sans-serif;
    --text-3: normal 3.5rem/164.2% "Bellefair", sans-serif;
    --text-4: normal 2rem/136.7% "Bellefair", sans-serif;
    --text-5: normal 1.75rem/133.6% "Barlow", sans-serif;
    --text-5-lsp: .25rem;
    --text-6: normal 1.75rem/132.1% "Bellefair", sans-serif;
    --text-6-lsp: 0;
    --text-7: normal 0.975rem/116.8% "Barlow", sans-serif;
    --text-7-lsp: .125rem;
    --text-8: normal 1rem/119.2% "Barlow", sans-serif;
    --text-8-lsp: .125rem;
    --text-9: normal 1.125rem/180% "Barlow", sans-serif;

    /* spacing */
    --px128: 8rem;
    --px96: 6rem;
    --px80: 5rem;
    --px64: 4rem;
    --px48: 3rem;
    --px40: 2.5rem;
    --px32: 2rem;
    --px24: 1.5rem;
    --px16: 1rem;
    --px12: .75rem;
    --px8: .5rem;
    --px4: .25rem;
    --px2: .125rem
}

@media (max-width:1024px) {
    :root {
        --text-2: normal 5rem/100% "Bellefair", sans-serif;
        --text-3: normal 2.5rem/100% "Bellefair", sans-serif;
        --text-4: normal 1.5rem/100% "Bellefair", sans-serif;
        --text-4: normal 1.5rem/100% "Bellefair", sans-serif;
        --text-5: normal 1.25rem/100% "Barlow", sans-serif;
        --text-9: normal 1rem/180% "Barlow", sans-serif;
    }

}

@media (max-width:767px) {
    :root {
        --text-1: normal 5rem/100% "Bellefair", sans-serif;
        --text-2: normal 3.5rem/100% "Bellefair", sans-serif;
        --text-3: normal 1.5rem/100% "Bellefair", sans-serif;
        --text-4: normal 1.125rem/100% "Bellefair", sans-serif;
        --text-6: normal 1rem/100% "Barlow", sans-serif;
        --text-6-lsp: 2.5px;
        --text-8: normal 0.875rem/100% "Barlow", sans-serif;
        --text-8-lsp: 2px;
        --text-9: normal 0.9375rem/180% "Barlow", sans-serif;
    }

}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

i {
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    position: relative;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: var(--px40);
}

.nav__logo {
    width: var(--px48);
    height: var(--px48);
    object-fit: cover;
}

.nav__line {
    height: var(--px2);
    width: 50%;
    background-color: var(--almost_white);
    transform: translateX(10%);
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    gap: var(--px40);
}

.nav__item {
    font: var(--text-8);
    letter-spacing: var(--text-8-lsp);
    color: var(--white);
}

.nav__link {
    padding-top: var(--px40);
    padding-bottom: var(--px40);
    text-transform: uppercase;
}

.nav__item:hover {
    border-bottom: var(--px2) solid var(--white);
}

.nav__order {
    font: var(--text-8);
    font-weight: bold;
    letter-spacing: var(--text-8-lsp);
    color: var(--white);
}

.nav__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--white);
    opacity: 10%;
    transform: translateX(10%);
}

.nav__mobile_menu {
    display: none
}

@media (max-width:1024px) {
    .nav {
        margin-top: unset;
    }

    .nav__line {
        display: none;
    }

    .nav__bg {
        width: 100%;
    }
}

@media (max-width:767px) {
    .nav {
        margin-top: var(--px24);
    }

    .nav__logo {
        width: var(--px40);
        height: var(--px40);
    }

    .nav__mobile_menu {
        display: block;
        width: var(--px24);
        height: var(--px24);
        mask: url(../../assets/shared/icon-hamburger.svg) center / cover no-repeat;
        -webkit-mask: url(../../assets/shared/icon-hamburger.svg) center / cover no-repeat;
        background-color: var(--blue-300);
        margin-left: auto;
        position: relative;
        z-index: 3;
    }

    .nav__menu {
        display: block;
        position: fixed;
        width: 75%;
        height: 100%;
        z-index: 2;
        background-color: rgba(11, 13, 23, 15%);
        backdrop-filter: blur(var(--px80));
        -webkit-backdrop-filter: blur(var(--px80));
        top: 0;
        right: 0;
        padding-left: var(--px32);
        transform: translateX(100%);
        transition: transform .2s ease-in;
    }

    .nav__item:first-child {
        /* header height : 40px (logo) + 24px (margin-top) = 64px
        spacing : 48px
        total 128px */
        margin-top: var(--px128);
    }

    .nav__item:hover {
        border-bottom: unset;
    }

    .nav__link:hover {
        border-right: var(--px4) solid var(--white);
        display: block;
    }
    .nav__link {
        padding-top: var(--px16);
        padding-bottom: var(--px16);
    }
    .nav__bg {
        display: none;
    }

    .nav[open] .nav__menu {
        transform: translateX(0);
    }

    .nav[open] .nav__mobile_menu {
        mask: url(../../assets/shared/icon-close.svg) center / cover no-repeat;
        -webkit-mask: url(../../assets/shared/icon-close.svg) center / cover no-repeat;
    }
}